* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    cursor: url("Images/cursor.cur"), auto;
}


.tag {
    width: 75px;
    height: 75px;
    padding: 10px;

}

.left {

    float: left;
    overflow: scroll;
}

.left,
.right {
    width: 15%;
}

.column {
    float: left;
    padding: 10px;
    height: 1000px;
    overflow: auto;

}

.center {
    width: 70%;

    text-align: center
}

.menu {
    display: inline-flex;
    text-decoration: none;
    width: 796px;
    height: 34px;


}

span {
    font-family: fantasy;

}

.menu a {
    margin-left: 73px;
    margin-top: 5px;
    color: white;

}

a:visited {
    color: orange;
    text-decoration-line: underline;


}

.c {
    color: gray;
    text-decoration-style: wavy;
}

.c:visited {
    color: lightgray;
}

.c:hover {
    color: gray;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    max-height: none;
    display: none;

}


.container {
    height: 500px;
    width: 80%;
    background-size: cover;
    background-position: center;
    animation: animate 20s 2s infinite;
    margin-left: 120px;
}

.solid {
    border-style: solid;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-top-width: 2.5px;
    width: 64px;
    height: 64px;


}

table {
    margin-bottom: 80px;
    margin-left: 250px;
}

.img {
    width: 64px;
    height: 64px;
}

iframe {
    border-style: none;

}

h1 {
    color: white;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Great Vibes', cursive;
}

li {
    color: white;
    text-align: center;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 12px 0;
    white-space: pre-line;

}

.nopoint {
    list-style-type: none;

}

p {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    margin-bottom: 30px;

}

.p {
    font-family: cursive;
}

h2 {
    font-family: fantasy;
    color: white;
    font-weight: bold;
    text-decoration-line: underline;
}


h3 {
    font-family: 'Oswald', fantasy;
    color: white;
    text-align: center;
}

@media only screen and (max-width:960px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .left,
    .right,
    .center {
        width: 100%;
        height: auto;
    }

    ul {
        list-style-type: none;
    }

    .container {
        width: 100%;
    }

    .left {
        order: 3
    }

    .center {
        order: 1;
    }

    .right {
        order: 2;
    }
}
